body {
    text-align: center;
    letter-spacing: 2px;
    font-family: Arial, sans-serif;
}

#banner {
	width: 40%;
	margin: 1% auto;
	display: flex;
	font-size: 20px;
}

div:nth-child(2) {
	flex-grow: 1;
}